html,body{
    height: 100%;
}

.parallax{
    background-image: url("../img/chelsea.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}



.bg{
    background-image: url("../img/chelsea.jpg");
    background-size: cover;
    background-position: center;
}

.bg2{
    background-color: red;
    opacity: 0.6;
}

.bg3{
    background-color: white;
    opacity: 0.5;
}

h4{
    font-family: "Trebuchet MS",sans-serif;
    font-style: italic;
    text-shadow:0 4px 0 black;
    font-size: 1.7rem;
}

.p-large{
    font-size: 60px;
    line-height: 70px;
    font-family: 'Khand',sans-serif;
    font-weight: 700;
    letter-spacing: -0.01rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

.p{
    font-size: 3rem;
}

.bg4{
    background-image: url("../img/pl.jpg");
    background-size: cover;
    background-position: center;

}

.parallax2{
    background-image: url("../img/pl.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    color: black;
    font-family: "Trebuchet MS",sans-serif;
    font-style: italic;
    text-shadow:0 2px 0 red;
    font-size: 3rem;
}

h5{
    font-size: 3rem;
}

.blue{
    color: blue;
}

.text-shadow{
    text-shadow:0 2px 0 white;
    opacity: 0.7;
}

.bg5{
    background-color: black;
}

.bg6{
    background-image: url("../img/frank2.jpg");
    background-size: cover;
    background-position: center;
}

.parallax3 {
    background-image: url("../img/frank2.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}

.lightBlue{
    color: lightskyblue;
}

h2{
    font-size: 3rem;
}

header {
    position: relative;
    background-color: black;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}


@media only screen and (max-width: 480px){
    h4{
        font-size: 1.6rem;
    }

    h5{
        font-size: 1.4rem
    }

    p{
        font-size: 1rem;
        text-align: center;
        color: white;
    }
}
