.rouge{
    /* on fait jamais sa*/
    height: 400px;
    /*mettre une hauteur fixe en BS*/
    background-color: red;
}

.bleu{
    height: 400px;
    background-color: midnightblue;
}

.jaune{
    height: 400px;
    background-color: yellow;
}

.vert{
    height: 400px;
    background-color: #34ce57;
}

.white{
    height: 400px;
    background-color: white;
}

.bg{
    background-image: url(../img);
    background-size: cover;
    height: 1080px;
}

hr{
    padding-bottom:30px;
    padding-top:30px;
    max-width: 50px;
    border-width: 3px;
    border-color: white;
}

h1 {
    text-shadow: 7px 7px 10px black;
}

h3 {
    text-shadow: 2px 2px 8px red;
}

p {
    text-shadow: 7px 7px 10px black;
}
.bg2 {
    background-color: midnightblue;
}

.violet{
    background-color: darkviolet;
}

.button{
    border-radius: 50px;
}